#Introduction

In [ ]:
print("Hello World")

Hello World

In [ ]:
import keyword
print(keyword.kwlist)
a = len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
a=50
b=50
c=a+b
print(c)

100

In [ ]:
x="hello"
x

'hello'

In [ ]:
l1=[1,2,3,4,5,6]
for x in l1:
  print(x)

1
2
3
4
5
6

In [ ]:
len(l1)

6

In [ ]:
l1.append(7)

In [ ]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
l2=[8,9,10]

In [ ]:
l3=l1+l2
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1 =[1,1,1,2,2,2,3,3,3,4,4]

In [ ]:
l2=[]
for x in l1:
  if x not in l2:
    l2.append(x)
print(l2)

[1, 2, 3, 4]

In [ ]:
l2 = list(set(l1))
l2

[1, 2, 3, 4]

In [ ]:
a = 20
b = 1.7
c = "Ann"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#slicing
l1=[1,2,3,4,5,6]
print(l1[:4])

[1, 2, 3, 4]

In [ ]:
l1[-1]

6

In [ ]:
l1[::-1]

[6, 5, 4, 3, 2, 1]

In [ ]:
str1= input("Enter a string: ")
str2 = str1[::-1]

if str1==str2:
  print("The string is a palindrome")
else:
  print("The string is not a palindrome")

Enter a string: malayalam
The string is a palindrome

In [ ]:
import random
num = [1,2,3,4,5,6,7,8]
random.shuffle(num)
print(num)
total = sum(num)
print("the sum of the numbers is: ",total)

[5, 7, 4, 6, 1, 8, 2, 3]
the sum of the numbers is:  36

In [ ]:
days = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
"saturday" in days

True

In [ ]:
"sunday" not in days

False

In [ ]:
#clear
list=["red", "orange", "pink", "black"]
print(list)
list.clear()
print(list)

['red', 'orange', 'pink', 'black']
[]

In [ ]:
#count
nums = [1,2,3,4,2,6,2,5,7]
nums.count(2)

3

In [ ]:
l4 = nums.copy()
print(l4)

[1, 2, 3, 4, 2, 6, 2, 5, 7]

In [1]:
a=["a","b","c","d"]
print(a)
a.append("e")
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [2]:
A=[1,2,3,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 2, 3, 4, 5]
[5, 6, 7, 3, 6]
[1, 2, 3, 4, 5, 5, 6, 7, 3, 6]

In [4]:
a=(5,6)
print(a)
print(type(a))

(5, 6)
<class 'tuple'>

In [5]:
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [6]:
c=("one","two","three")
c

('one', 'two', 'three')

In [8]:
mix=("hello",708,66.8,1,2)
print(mix[0])
mix

hello

('hello', 708, 66.8, 1, 2)

In [12]:
a={
    "name":"JOY",
    "age":23,
    "education":"Engineer"
}
print(a)
print(len(a))
type(a)

{'name': 'JOY', 'age': 23, 'education': 'Engineer'}
3

dict

In [15]:
x=a.keys()
print(x)
y=a.values()
print(y)
z=a.items()
print(z)

dict_keys(['name', 'age', 'education'])
dict_values(['JOY', 23, 'Engineer'])
dict_items([('name', 'JOY'), ('age', 23), ('education', 'Engineer')])

In [ ]:
set1={1,2,3,4}
print(set1)

In [18]:
set={1,2,3,4,5,6,7,1,1} #duplicates are not allowed in sets
print(set)
print(len(set))
print(type(set))

{1, 2, 3, 4, 5, 6, 7}
7
<class 'set'>

In [19]:
def add():
  a=2
  b=3
  sum=a+b
  return sum
add()
print(add())

5